<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated airports -->
      <package
            uri="http://com.abernard.airports/1.0"
            class="com.abernard.airports.AirportsPackage"
            genModel="model/airports.genmodel"/>
   </extension>

</plugin>
